{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>admin Bien edit</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-4">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-4">{{ form_row(edit_form.title) }}</div>

    </div>
    <div class="row">
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>

    </div>
    <div class="row">
        <div class="col-md-5">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-2">{{ form_row(edit_form.title) }}</div>
        <div class="col-md-1">{{ form_row(edit_form.title) }}</div>

    </div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_property_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
