{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">
        <h1>Gérer les biens</h1>
        <div class="text-right" style="display: inline-block">
            <a href="{{ path('admin_property_new') }}" class="btn btn-success">Créer un nouveau bien</a>

        </div>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Adresse</th>
                <th>ville</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>{{ property.address }}</td>
                    <td>{{ property.city }}</td>
                    <td>
                        <a href="{{ path('admin_property_show', { 'id': property.id }) }}" class="btn btn-outline-info btn-sm">Ouvrir</a>
                        <a href="{{ path('admin_property_edit', { 'id': property.id }) }}" class="btn btn-outline-success btn-sm">Editer</a>
                        <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>


                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>




    </div>




{% endblock %}
