{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Bien creation</h1>




        hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh





    {{ form_start(form) }}
        {{ form_widget(form) }}

    <div class="row">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.title) }}</div>

    </div>
    <div class="row">
        <div class="col-md-2">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.title) }}</div>

    </div>
    <div class="row">
        <div class="col-md-5">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.title) }}</div>
        <div class="col-md-2">{{ form_row(form.title) }}</div>
        <div class="col-md-1">{{ form_row(form.title) }}</div>

    </div>

    <a href="" type="submit"  >Creer</a>
    {{ form_end(form) }}
    <div class="text-right">
        <a href="" class="btn btn-success">Back to the list</a>

    </div>


    </div>
{% endblock %}
