<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="{{ asset('dashboard/styles/shards-dashboards.1.1.0.min.css') }}">

  </head>
  <body class="h-100">


    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
    <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
        <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                <a class="navbar-brand w-100 mr-0" href="{{ path('adminbassem_property_index') }}" style="line-height: 25px;">
                    <div class="d-table m-auto">
                        <span class="d-none d-md-inline ml-1">Tableau de bord</span>
                    </div>
                </a>
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                    <i class="material-icons">&#xE5C4;</i>
                </a>
            </nav>
        </div>

        <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <i class="material-icons">table_chart</i>
                        <span>Gestion des biens</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">person</i>
                        <span>Gestion agents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">group</i>
                        <span>Gestion clients</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">calendar_today</i>
                        <span>Les RDV</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">person</i>
                        <span>User Profile</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>
    <!-- End Main Sidebar -->
    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">

                <ul class="navbar-nav border-left flex-row ">




                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle mr-2" src="{{ asset('dashboard/images/avatars/admin.jpg') }}" alt="User Avatar">
                            <span class="d-none d-md-inline-block">Bassem</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-small">
                            <a class="dropdown-item" href="#"><!--user-profile-lite.html-->
                                <i class="material-icons">&#xE7FD;</i> Profile</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{{ path('logout') }}">
                                <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
        <!-- / .main-navbar -->




        {% block body %}{% endblock %}
        <footer class="main-footer d-flex p-2 px-3 bg-white border-top" style="height: 20px;">

            <span class="copyright ml-auto my-auto mr-2">Developed by BASSEM - Copyright © 2018

            </span>
        </footer>
    </main>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--
        <script src="scripts/extras.1.1.0.min.js"></script>
        <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
        <script src="scripts/app/app-blog-overview.1.1.0.js"></script>-->
    </body>
</html>
