{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum dossier deafult</h1>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>


    <div class="conatiner">
        <h2>Les derniers biens</h2>
        <div class="row flex">

                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">titre </a>
                            </h5>
                            <p class="card-text">ville code postal</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">prix</div>

                        </div>
                    </div>
                </div>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
