{% extends 'dashboard.html.twig' %}

{% block body %}






    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">BIENS</span>
                <h3 class="page-title">Editer les biens</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
            <div class="col">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">


                    </div>
                    <div class="card-body p-0 pb-3 text-center">

                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-4">{{ form_row(form.title) }}</div>
                            <div class="col-md-4">{{ form_row(form.surface) }}</div>
                            <div class="col-md-4">{{ form_row(form.price) }}</div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">{{ form_row(form.rooms) }}</div>
                            <div class="col-md-2">{{ form_row(form.bedrooms) }}</div>
                            <div class="col-md-2">{{ form_row(form.heat) }}</div>
                            <div class="col-md-2">{{ form_row(form.floor) }}</div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">{{ form_row(form.address) }}</div>
                            <div class="col-md-2">{{ form_row(form.city) }}</div>
                            <div class="col-md-2">{{ form_row(form.postalcode) }}</div>
                            <div class="col-md-1">{{ form_row(form.sold) }}</div>

                        </div>
                        {{ form_rest(form) }}
                        <input type="submit" class="badge badge-pill badge-secondary" value="Edit" />

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
















{% endblock %}
