{% extends 'dashboard.html.twig' %}
{% block title 'Tableau de bord' %}
{% block body %}





<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">BIENS</span>
            <h3 class="page-title">Data Tables</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h5>
                    <a href="{{ path('adminbassem_property_new') }}" class="badge badge-pill badge-secondary">Créer un nouveau bien</a>
                    </h5>
                    <div class="row border-bottom py-2 bg-light">
                        <div class="col-12 col-sm-6">
                            <div id="blog-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 350px;">
                                <input type="text" class="input-sm form-control" name="start" placeholder="ville" id="blog-overview-date-range-1">
                                <input type="text" class="input-sm form-control" name="end" placeholder="Max Prix" id="blog-overview-date-range-2">
                                <input type="text" class="input-sm form-control" name="end" placeholder="Min Surface" id="blog-overview-date-range-2">

                            </div>
                        </div>
                        <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
                            <button type="button" class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">Filtrer →</button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 pb-3 text-center">

                    <table class="table mb-0">
                        <thead class="bg-light">
                        <tr>


                            <th scope="col" class="border-0">Titre</th>
                            <th scope="col" class="border-0">Adresse</th>
                            <th scope="col" class="border-0">ville</th>
                            <th scope="col" class="border-0">Action</th>



                        </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            <tr>
                                <td>{{ property.title }}</td>
                                <td>{{ property.address }}</td>
                                <td>{{ property.city }}</td>
                                <td>

                                    <div class="btn-group" role="group" aria-label="Basic example">
                                   <a href="{{ path('adminbassem_property_show', { 'id': property.id }) }}" class="btn btn-outline-dark"><i class="material-icons">visibility</i></a>

                                    <a href="{{ path('adminbassem_property_edit', { 'id': property.id }) }}" class="btn btn-outline-dark"><i class="material-icons">edit</i></a>
                                    <a href="#" class="btn btn-outline-dark"><i class="material-icons">delete_sweep</i></a>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
