{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron ">
        <div class="container">
            {{ form_start(form) }}
<div class="form-row align-items-end">
    <div class="col">
        {{ form_row(form.ville) }}
    </div>
    <div class="col">
        {{ form_row(form.minsurface) }}
    </div>
    <div class="col">
        {{ form_row(form.maxprice) }}
    </div>
    <div class="col">
      <div class="form-group">
          <button class="btn btn-primary">Rechercher</button>
      </div>
    </div>
</div>
            {{ form_end(form) }}
        </div>

    </div>


    <div class="conatiner">
        <h2>Les biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property_show',{id: property.id, slug: property.slug}) }}">{{ property.title }} </a>
                            </h5>
                            <p class="card-text">{{ property.surface }}m<SUP>2</SUP> - {{ property.city }} - ({{ property.postalcode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatPrix}} DT</div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
