{% extends 'base.html.twig' %}

{% block title property.title %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h1>{{ property.title }}</h1>
            <h2>{{ property.rooms }} pièces - {{ property.surface }}m<SUB>2</SUB></h2>
            <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formatPrix }}DT</div>
        <a href="#" class="btn btn-primary">Contacter l'agence</a>
            <div id="contactForm" class="mt-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.nom) }}</div>
                    <div class="col">{{ form_row(form.prenom) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.tel) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}

                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>

    </div>
    <p>
        {{ property.description |nl2br }}
    </p>
    <div class="row">
    <div class="col-md-8">
        <h2>Caractéristiques</h2>
      <table class="table table-striped">
          <tr>
              <td>Surface habitable</td>
              <td>{{ property.surface }}</td>
          </tr>
          <tr>
              <td>Pièces</td>
              <td>{{ property.rooms }}</td>
          </tr>
          <tr>
              <td>Chmabres</td>
              <td>{{ property.bedrooms }}</td>
          </tr>
          <tr>
              <td>Etage</td>
              <td>{{ property.floor }}</td>
          </tr>
          <tr>
              <td>Chauffage</td>
              <td>{{ property.heat }}</td>
          </tr>
      </table>
    </div>

    <div class="col-md-4">
<h2>Spécificités</h2>
    </div>
    </div>
</div>
{% endblock %}





