
<!DOCTYPE html>
<html>
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="assertlogin/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assertlogin/css/main.css')}}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>

    {% endif %}
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('../../assertlogin/images/bg-01.jpg');">
					<span class="login100-form-title-1">
						Sign In
					</span>
            </div>


            <form  action="{{ path('login') }}" method="post" class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">

                    <label class="label-input100" for="username">Nom d'utilisateur</label>
                    <input class="input100" id="username" type="text" name="_username" placeholder="Enter username" value="{{ last_username }}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <label class="label-input100" for="password">Mot de passe</label>
                    <input class="input100" id="password" type="password" name="_password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>



                <div class="container-login100-form-btn">
                    <button type="submit"   class="btn btn-outline-primary waves-effect   btn-lg btn-block login-btn" >Se connecter</button>

                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>